{% extends "app/base.html" %}
{% load static %}
{% block title %}ABOUT US{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br><h2 class="text-center">About Us</h2>
    </br>
    <div class="row container">
        <p class="fs-5 text-center">Welcome to MERAKI — your one-stop destination for quality products and exceptional shopping experiences. Founded with a passion for bringing the best to our customers, we strive to offer an extensive range of apparels,footwear,beauty products and trimmers that cater to your lifestyle needs.</p>
            <br><h2 class="text-center">Mission</h2>
        </br>
        <div class="row container">
            <p class="fs-5 text-center">Our mission is to deliver premium products at unbeatable prices, backed by outstanding customer service. From trendsetting collections to timeless classics, every item is handpicked to ensure it meets our standards for quality and value.
            
            We’re more than just a store; we’re a community. We value your trust and are committed to providing a seamless shopping experience, from the moment you browse our collections to the instant your order arrives at your door.</p>
            <br><h2 class="text-center"></h2>
             </br>
         <div class="row container">
           <p class="fs-5 text-center">
            Thank you for choosing MERAKI. We look forward to serving you and making your shopping journey exceptional!</p>
    </div>
</div>
{% endblock main-content %}