{% extends "app/base.html" %}
{% load static %}
{% block title %}CONTACT US{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br><h2 class="text-center">Contact Us</h2>
    </br>
    <div class="row container">
        <p class="fs-5 text-center">We are here to assist you with any questions or concerns you may have. Your satisfaction is our top priority!
        </p>
            <br><h2 class="text-center">Customer Support</h2>
        </br>
            <p class="fs-5 text-center">Phone:
                📞 +91 925-951-3152<br>
                Available: Monday - Friday, 9:00 AM - 6:00 PM (IST)
                <br>
                Email:📧 support@yourmeraki.com<br>
                We respond to all inquiries within 24-48 hours.
                </p>
            <br><h2 class="text-center">Mailing Address</h2>
             </br>
           <p class="fs-5 text-center">
            If you prefer to reach out by mail, you can send us a letter at:<br>
            🏢 MERAKI<br>
            3rd Floor, B-Block, Logix Cyber Park,Sector 62,<br>
            Noida, Uttar Pradesh, 201309, India</p>
           </div>
            <br><h2 class="text-center">Follow Us on Social Media</h2>
             </br>
           <p class="fs-5 text-center">
            Stay updated with our latest news, deals, and promotions:<br>
            🔗 @MerakiDeals | @shopmeraki.in | @Meraki_Deals | MerakiShop
            </p>
            <br><h2 class="text-center"></h2>
        </br>
    </div>
</div>
{% endblock main-content %}